asgiref
certifi
charset-normalizer
defusedxml
Django
django-filter
djangorestframework
httpie
idna
Markdown
markdown-it-py
mdurl
multidict
pip
Pygments
PySocks
requests
requests-toolbelt
rich
setuptools
sqlparse
urllib3
drf-spectacular
